# Dependencies
node_modules/
client/node_modules/
server/node_modules/

# Production builds
client/dist/
client/dist-ssr/
*.local

# Database & local media
server/data/gallery.db
server/data/images/*
!server/data/images/.gitkeep

# System & OS logs
.DS_Store
Thumbs.db
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment files
.env
.env.local
.env.*

